AWS_REGION=us-east-1
BEDROCK_MODEL_ID=deepseek.v3.2
BEDROCK_MAX_TOKENS=600      # output should be a few sentences max so making sure they don't go long

# we are going to create a local, in-memory knowledge base for RAG
# we are going to use Amazon Titan to create the embeddings for us
# this is not needed if you use an external KB
BEDROCK_EMBED_MODEL_ID=amazon.titan-embed-text-v2:0

# ID of a bedrock knowledge base if you use that instead of an in-memory KB
BEDROCK_KB_ID=
