
# container_commands tuns AFTER the application is unpacked and the venv is built but BEFORE the app is ran
# "commands" but this runs before the code is unpacked

container_commands:
    01_run_migration:
        command:
            set -a
            source /opt/elasticbeanstalk/deployment/env
            set +a
            source /var/app/venv/*/bin/activate
            flask --app fieldnotes.app db upgrade

        leader_only: true
